#xlsx-preview-container {
    background: #FFFFFF;

    ::v-deep {
        table {
            background: #FFFFFF;

            tr {
                &:first-child {
                    td {
                        font-size: 22px;
                    }
                }

                td {
                    font-size: 16px;
                    padding: 4px 12px;
                    min-width: 120px;
                    text-align: center;
                    border: 1px #000 solid;
                }
            }
        }

        .sheets {
            background: gray;
            height: calc(100vh - 40px);
            overflow: auto;
            //padding: 30px;
            //padding-bottom: 40px;
            //display: flex;
            //flex-flow: column;
            //align-items: center;
            //min-height: 100vh;
            //min-width: 100vw;
            //width: max-content;

            .sheet {
                display: none;
                &.show {
                    display: block;
                }

                table {
                    padding: 3vw;
                    background: white;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                }
            }
        }

        .sheet-switch-buttons {
            position: fixed;
            bottom: 0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;

            .sheet-switch-btn {
                color: rgba(0, 0, 0, 0.8);
                background: white;
                padding: 6px 12px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                cursor: pointer;
                border: 1px solid #707f9d;
                &.active {
                    color: white;
                    background: #707f9d;
                }
            }
        }
    }
}

#text-preview-container {
    .docx-wrapper {
        background: gray;
        padding: 30px 30px 0;
        display: flex;
        flex-flow: column;
        align-items: center;
        min-height: 100vh;
        min-width: 100vw;
        width: max-content;
        margin-left: auto;
        margin-right: auto;

        .text {
            padding: 3vw;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
    }
}

#docx-preview-container {
    :deep(.docx-wrapper) {
        width: max-content;
        margin-left: auto;
        margin-right: auto;
    }
}


